In [9]:
#creating a list
my_list = [20,21,22,23,24]

#adding an element to the list
my_list.append(25)

#removing an element from list
my_list.remove(23)

#modifying an element in the list
my_list[4]= 19

print("updated list:",my_list)

updated list: [20, 21, 22, 24, 19]

In [16]:
#creating a dictionary

my_dict = {"name": "Rushi", "age":24,"city":"kolhapur"}

#adding
my_dict["gender"]="Male"

#removing
del my_dict["age"]

print("updated Dictionary:" ,my_dict)

updated Dictionary: {'name': 'Rushi', 'city': 'kolhapur', 'gender': 'Male'}

In [17]:
#creating a set

my_set= {1,2,3,4,5}

#adding
my_set.add(6)

#removing
my_set.remove(3)

#modifying
my_set.discard(1)
my_set.add(10)

print("updated set",my_set)

updated set {2, 4, 5, 6, 10}